{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="section-top">
        <img src="{% static '/img/sea.jpg' %}" width="100%">
    </div>
    <div class="section section1">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">Новые поступления</h1>
                </div>
                {% for product_image in new_products %}
                    {% include 'landing/product_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="section section-delivery">
        <div>
            <h3>
                Бесплатная доставка при заказе от 1000руб!
            </h3>
        </div>
    </div>
    <div class="section section2 fish-container">
        <div class="container-fluid">
            <div class="row">
            <div class="col-lg-12">
                    <h1 class="text-center">Рыба</h1>
                </div>
                {% for product_image in products_images_fish %}
                    {% include 'landing/product_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="section section3 kaef-container">
        <div class="container-fluid">
            <div class="row">
            <div class="col-lg-12">
                    <h1 class="text-center">Моллюски</h1>
                </div>
                {% for product_image in products_images_kaef %}
                    {% include 'landing/product_item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}