{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="text-center">
        <h1>Информация о предприятии</h1>
    </div>
    <div class="info-content">
        <h1>С чего все начиналось</h1>
        <p>Наше предприятие начинает свою историю с 1994 года. Поначало мы специализировались только на добыче рапаны водолазным способом.
        <br>Именно таким способом можно находить наиболее крупную рапану, на которая представляет интерес для крупных компаний, занимающихся поставкой морепродуктов в бары и рестораны.
        <br>Со временем у нас появился цех для переработке, а так же своя упаковка. Далее мы начали заниматься другими видами продукции, например рыба, мидия и тд.
        </p>
        <h1>Наш ассортимент</h1>
        <p>
            Ассорттимент, представленный в каталоге, это результат долггой работы по налаживанию связей с другими промысловыми бригадами.
            <br>естесственно, мы планируем расширять ассортимент, продавать все больше различных морепродуктов. В ближайшем времени мы расчитываем добавить такие товары как
            <br>черноморские устрицы, морские гребешки, камчатские крабы а так же черная и красная икра. В настоящий момент мы усиленно занимаемся этим вопросом.
        </p>
        <h1>Для чего нужен этот сайт</h1>
        <p>
            Ранее мы были нацелены в большей степени на оптовую торговлю. Сайт был создан для того, чтобы работать в розницу, для того, чтобы человек мог в любой момент мог купить у нас то, что ему нужно.
        </p>
        <h1>Наши товары знают в Крыму</h1>
        <p>
            Как уже говорилось, все началось с рапаны. К производству мяса рапаны мы относимся очень трепетно, удаляя все лишнее и оставляя только съедобную часть. Очень часто случалось так, что
            <br>у нас переставали брать продукцию ввиду более низкой цены у конкурентов, но через время возвращались к нам, потому что у конкурентов не найти такого качества. Поэтому когда мы начали заниматься
            <br>другой продукцией, нам было немного легче продвигать ее на рынок, ведь на первом месте у. В Крыму знают нас и нашу продукцию.
        </p>
        <h1>Сотрудничество</h1>
        <p>
            Мы всегда готовы к сотрудничеству, и если у Вас есть какие-либо предложения, мы с радостью их рассмотрим.
        </p>
    </div>
{% endblock %}